nav{
  background: #562E87;
  height:80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;

}
.dot {
  height: 400px;
  width: 400px;
  background-color: #A49AAA;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  left:10px;
  top:250px;
  opacity: 25%;
}
.dot2{
  height: 470px;
  width: 470px;
  background-color: #A49AAA;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  right:250px;
  bottom:35px;
  opacity: 25%;
}
.dot3{
  height: 200px;
  width: 200px;
  background-color: #A49AAA;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  right:550px;
  top:100px;
  opacity: 25%;
}

.brand {
  color: white;
  font-size: 30px;
  position:relative;
  left:100px;

}
.searchBox{

    height: 500px;
    width: 100px;
    border-radius: 0px;

    position: fixed;
    top: 40px;
    left: 400px;

}
img{
  float:right;
  width:90px;
  position: fixed;
  top:17px;
  right:180px;

}
.post{
  float:right;
  width:80px;
  position: fixed;
  top:28px;
  right:280px;

}
#box1{
  background: #E1D5E9;
  border: 1px solid lightgray;
  height:600px;
  width:200px;
  top:130px;
  left:100px;
  position: absolute;
}
#box_title{
  background: #A49AAA;
  height:50px;
  width:160px;
  top:30px;
  left:20px;
  position: absolute;
}
#calendar{
  font-size: 25px;
  color:white;
  left:20%;
  position: relative;
  bottom:30%;
}
#calendar_box{
  background: black;

  height:90px;
  width:160px;
  top:80px;
  left:20px;
  position: absolute;
}
.calendar_img{
  width: 100%;
  height: 100%;
  position: absolute;
  left:0%;
  top: 0%;
}

#box_location{
  background: #A49AAA;
  height:50px;
  width:160px;
  top:210px;
  left:20px;
  position: absolute;
}
#location{
  font-size: 25px;
  color:white;
  left:23%;
  position: relative;
  bottom:40%;
}
#area{
  background:#EDEDED;
  height:180px;
  width:160px;
  top:250px;
  left:20px;
  position: absolute;
}
.area_NY{
  font-size: 10px;
  position:absolute;
  left: 25%

}
.other_area{
  font-size: 15px;
  left:35%;
  bottom: 20%;
  position:absolute;
}
.other_area1{
  font-size: 15px;
  left:37%;
  bottom: 15.5%;
  position:absolute;
}
.other_area2{
  font-size: 15px;
  left:37%;
  bottom: 11.5%;
  position:absolute;
}
.row1{
  display: flex;
  justify-content: space-around;
}
.row2{
  display: flex;
  justify-content: space-around;
}
#community{
  background: #A49AAA;
  height:50px;
  width:260px;
  top:130px;
  left:400px;
  position: absolute;
}
#community_text{
  font-size: 25px;
  color:white;
  left:30%;
  position: absolute;

}
#community_box{
  background: #E1D5E9;

  height:210px;
  width:260px;
  top:180px;
  left:400px;
  position: absolute;
}

#service{
  background: #A49AAA;
  height:50px;
  width:260px;
  top:470px;
  left:400px;
  position: absolute;
}
#service_text{
  font-size: 25px;
  color:white;
  left: 35%;
  position: absolute;
}

#service_box{
  background: #E1D5E9;

  height:210px;
  width:260px;
  top:520px;
  left:400px;
  position: absolute;
}

#housing{
  background: #A49AAA;
  height:50px;
  width:260px;
  top:130px;
  left:825px;
  position: absolute;
}
#housing_text{
  font-size: 25px;
  color:white;
  left:35%;
  position: absolute;

}
#housing_box{
  background: #E1D5E9;

  height:210px;
  width:260px;
  top:180px;
  left:825px;
  position: absolute;
}

#df{
  background: #A49AAA;
  height:50px;
  width:260px;
  top:470px;
  left:825px;
  position: absolute;
}
#df_text{
  font-size: 25px;
  color:white;
  left: 30%;
  position: absolute;
}

#df_box{
  background: #E1D5E9;

  height:210px;
  width:260px;
  top:520px;
  left:825px;
  position: absolute;
}

#job{
  background: #A49AAA;
  height:50px;
  width:260px;
  top:130px;
  left:1250px;
  position: absolute;
}
#job_text{
  font-size: 25px;
  color:white;
  left:45%;
  position: absolute;

}
#job_box{
  background: #E1D5E9;
  height:210px;
  width:260px;
  top:180px;
  left:1250px;
  position: absolute;
}
#fs{
  background: #A49AAA;
  height:50px;
  width:260px;
  top:470px;
  left:1250px;
  position: absolute;
}
#fs_text{
  font-size: 25px;
  color:white;
  left: 35%;
  position: absolute;
}

#fs_box{
  background: #E1D5E9;

  height:210px;
  width:260px;
  top:520px;
  left:1250px;
  position: absolute;
}


footer {
  position: fixed;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: #562E87;
}

.footerNav {
  list-style: none;
}

.footerItem {
  color: white;
  font-size: 20px;
  position: relative;
  left:130px;
  top: 10px;
  margin-right: 10px;
}
.brand_bottom{
  color: white;
  font-size: 30px;
  position:absolute;
  bottom:40px;
  right: 350px;
}
.logo{
  float:right;
  width: 15%;
  height: 17%;
  position:fixed;
  top: 83%;
  right: 110px;

}
.vl {
  border-left: 2px solid white;
    height: 100px;
    position: absolute;
    left: 350px;
    margin-left: -3px;
    bottom: 30px;
}
.fleft{
  color: white;
  font-size: 15px;
  position:absolute;
  bottom:102px;
  left: 400px;
}
.fleft2{
  color: white;
  font-size: 15px;
  position:absolute;
  bottom:72px;
  left: 400px;
}
.fleft3{
  color: white;
  font-size: 15px;
  position:absolute;
  bottom:42px;
  left: 400px;
}

.fleft4{
  color: white;
  font-size: 15px;
  position:absolute;
  bottom:102px;
  left: 550px;
}
.fleft5{
  color: white;
  font-size: 15px;
  position:absolute;
  bottom:72px;
  left: 550px;
}
.fleft6{
  color: white;
  font-size: 15px;
  position:absolute;
  bottom:42px;
  left: 550px;
}
.mleft{
  color: white;
  font-size: 15px;
  position:absolute;
  bottom:102px;
  left: 820px;
}
.mleft2{
  color: white;
  font-size: 15px;
  position:absolute;
  bottom:72px;
  left: 820px;
}
.mleft3{
  color: white;
  font-size: 15px;
  position:absolute;
  bottom:42px;
  left: 820px;
}
.rleft{
  color: white;
  font-size: 15px;
  position:absolute;
  bottom:102px;
  left: 1020px;
}
.rleft2{
  color: white;
  font-size: 15px;
  position:absolute;
  bottom:72px;
  left: 1020px;
}
.rleft3{
  color: white;
  font-size: 15px;
  position:absolute;
  bottom:42px;
  left: 1020px;
}

@media (min-width: 480px) {
  .searchBox{
    width:1%;
    border-radius: 0px;

    position: absolute;
    top: 40px;
    left: 20%;
  }
  .searchBox input {
      font-size: 14px;
  }

  .profile-img {
      width: 40px;
      height: 40px;
  }

  .post-img {
      width: 25px;
      height: 35px;
  }
  .dot2{
    display: none;
  }
  .dot3{
    display: none;
  }
  .row1{
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .searchBox input {
      font-size: 18px;
  }

  .profile-img {
      width: 50px;
      height: 50px;
  }

  .post-img {
      width: 30px;
      height: 40px;
  }
}

